<!doctype html>
<html lang="en">
    <head>
        {{ template "head.html" . }}
        <link rel="stylesheet" href="/static/styles/index.css" />
        <script src="/static/scripts/index.js" defer></script>
        <title>The Button - Home</title>
    </head>
    <body>
        {{ template "navbar.html" . }}

        <main>
            {{ template "registration.html" . }}

            <button class="the-button content hidden">73</button>
        </main>

        {{ template "footer.html" . }}
    </body>
</html>
