footer {
    background-color: var(--dark);
    color: var(--light);
    height: 100px;
    padding-inline: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(16px, 1vw);
    flex-wrap: wrap;
}

footer a {
    color: var(--white);
    text-decoration: underline;
}

footer span {
    text-align: center;
}
