*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "marsden", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

:root {
    --dark: #000000;
    --light: #ffffff;
    --accent: #143ee2;
}

@font-face {
    font-family: "marsden";
    src: url("/static/marsden/marsden-bold.woff2") format("woff2")
    font-weight: bold;
}

@font-face {
    font-family: "marsden";
    src: url("/static/marsden/marsden-regular.woff2") format("woff2");
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* Content Style */

main {
    height: calc(100svh - 100px);
    padding-inline: 24px;
    display: flex;
}

.hidden {
    display: none !important;
}

@media (max-width: 600px) {
    main {
        height: calc(100svh - 144px);
    }
}

@media (max-width: 400px) {
    main {
        padding-inline: 8px;
    }
}
