main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-button {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--light);
    border: 4px solid var(--dark);
    position: relative;
    overflow: hidden;
    font-size: 48px;
    cursor: pointer;
    transition: 0.2s;
}

.the-button:hover {
    transition: 0.2s;
    border-color: var(--accent);
    color: var(--accent);
}

.the-button .circle {
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    background-color: var(--accent);
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
