nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    min-height: 100px;
    padding-block: 16px;
}

nav .links a {
    font-size: 24px;
    margin-left: 12px;
    transition: 0.2s;
}

nav a:hover,
nav a:focus {
    color: var(--accent);
    transition: 0.2s;
}

nav .title {
    font-size: 32px;
}

nav .links a.current {
    color: var(--accent) !important;
}

.menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    display: none;
}

@media (max-width: 600px) {
    nav {
        padding: 24px;
        align-items: flex-start;
    }

    nav .links {
        flex-direction: column;
        display: flex;
        padding-left: 0;
    }

    nav .links a {
        padding-bottom: 8px;
    }
}
